.box{
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  
  
}


.inputs{
width: 60%;
padding: 8px;
}

.btn{
  display: flex;
  column-gap: 8px;
}

.list{
  margin-top: 30px;
  font-size: 20px;
}